process {
    executor = 'slurm'
    queue    = 'cpu-single'
    time = { 1.h * task.attempt}


    withLabel: 'medium_job' { 
        cpus    = {1* task.attempt }
        queue    = 'cpu-single'
        memory = { 32.GB * task.attempt }
        time = { 4.h  * task.attempt }
    }

    withLabel: 'large_job' { 
        cpus    = {1* task.attempt }
        queue    = 'cpu-single'
        memory = { 128.GB * task.attempt }
        time = { 4.h  * task.attempt }
    }

    withLabel: 'process_single' {
        cpus   = {1* task.attempt }
        queue    = 'cpu-single'
        memory = { 32.GB * task.attempt }
        time = { 4.h  * task.attempt }
    }

    withLabel: 'gpu_job' {
        clusterOptions = '--partition=gpu-single --ntasks-per-node=2 --gres=gpu:1,gpumem_per_gpu:100GB --mem=210gb'
    }
}

profiles {
    apptainer {
      apptainer.enabled       = false
      apptainer.autoMounts    = false
      conda.enabled           = false
      docker.enabled          = false
      singularity.enabled     = true
      singularity.autoMounts  = true
      singularity.runOptions  = '--nv'
      podman.enabled          = false
      shifter.enabled         = false
      charliecloud.enabled    = false
    }
}

singularity.registry  = 'quay.io'
report.overwrite = true
