process {
  withLabel:process_single {
      cpus    = {1* task.attempt }
      memory = { 4.GB * task.attempt }
      time = { 4.h * task.attempt}
  }
  withLabel:process_gpu {
      cpus    = {1* task.attempt }
      memory = { 8.GB * task.attempt }
      time = { 1.h * task.attempt}
  }
}


profiles {
    apptainer {
      apptainer.enabled       = false
      apptainer.autoMounts    = false
      conda.enabled           = false
      docker.enabled          = false
      singularity.enabled     = true
      singularity.autoMounts    = true
      podman.enabled          = false
      shifter.enabled         = false
      charliecloud.enabled    = false
    }
}

singularity.registry  = 'quay.io'