process {
    executor = 'slurm'
    cpus = { 2*task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 4.h  * task.attempt }
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel: 'medium_job' {
        cpus    = {1* task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 4.h * task.attempt}
    }

    withLabel: 'gpu_job' {
        clusterOptions = '--partition=gpu-single', '--ntasks-per-node=2', '--gres=gpu:1', '--mem=210.GB'
    }
}